<header class="clearfix">
  <div class="branding">
    <a class="brand" ui-sref="app.dashboard">
      <span style="margin-left: 15px"><strong>easy</strong>CAKE</span>
    </a>
    <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
  </div>
  <ul class="nav-left pull-left list-unstyled list-inline">
    <li class="sidebar-collapse divided-right">
      <a href="javascript:;" collapse-sidebar>
        <i class="fa fa-outdent"></i>
      </a>
    </li>
  </ul>
  </header>
