<div id="sidebar-wrap" ng-controller="NavCtrl">
  <uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">
    <uib-accordion-group is-open="status.isSecondOpen" >
      <ul id="navigation" nav-collapse ripple>
        <li ui-sref-active="active"><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> <span>Панель управления</span></a></li>
        <li ng-class="{'active':$state.includes('app.categories')}"><a ui-sref="app.categories.list"><i class="fa fa-bookmark-o"></i> <span>Категории</span></a></li>
        <li ng-class="{'active':$state.includes('app.products')}"><a ui-sref="app.products.list"><i class="fa fa-gift"></i> <span>Товары</span></a></li>
        <li ng-class="{'active':$state.includes('app.orders')}"><a ui-sref="app.orders.list"><i class="fa fa-usd"></i> <span>Заказы</span></a></li>
        <li ng-class="{'active':$state.includes('app.users')}"><a ui-sref="app.users.list"><i class="fa fa-users"></i> <span>Пользователи</span></a></li>
        <li ng-class="{'active':$state.includes('app.comments')}"><a ui-sref="app.comments.list"><i class="fa fa-comments" aria-hidden="true"></i> <span>Комментарии</span></a></li>
        <li ng-class="{'active':$state.includes('app.shortcakes')}"><a ui-sref="app.shortcakes.list"><i class="fa fa-database" aria-hidden="true"></i><span>Коржи</span></a></li>
        <li ng-class="{'active':$state.includes('app.creams')}"><a ui-sref="app.creams.list"><i class="fa fa-birthday-cake" aria-hidden="true"></i><span>Крема</span></a></li>
        <li ng-class="{'active':$state.includes('app.info')}"><a ui-sref="app.info.list"><i class="fa fa-info" aria-hidden="true"></i><span>Блоки информации</span></a></li>
      </ul>
    </uib-accordion-group>
  </uib-accordion>
</div>
