<form name="form" class="form-horizontal form-validation" role="form" novalidate>

  <div class="form-group mt-20">
    <label for="name" class="col-sm-3 control-label">Название <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <input type="text" name="name" class="form-control" id="name" placeholder="Название категоии..." ng-model="category.title" required>
    </div>
  </div>

    <div class="form-group mt-20">
    <label for="name" class="col-sm-3 control-label">Цвет в галереи <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <input type="text" name="name" class="form-control" id="name" placeholder="Цвет..." ng-model="category.color" required>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3">Изображения</label>
    <div class="col-sm-9">

      <ul class="list-unstyled list-inline thumbs-list">
        <li ng-repeat="image in images">
          <img ngf-thumbnail="image" alt="" style="width: 120px; height: 120px">
          <img ngf-thumbnail="image.src" alt="" style="width: 120px; height: 120px">
          <button class="btn-nostyle" ng-click="image = null" ng-show="image && !editing">x</button>
          <uib-progressbar class="progress-xxs mt-10" value="image.progress" type="cyan" ng-show="image.progress >= 0"></uib-progressbar>
        </li>
      </ul>

      <p class="help-block text-danger" ng-show="editing">Добавление новых изображений перезапишет старые!</p>



      <div ngf-drop
           ngf-select
           ngf-drag-over-class="dragover"
           ngf-multiple="true"
           accept="image/*"
           ng-model="images"
           class="fileupload drop-box"
           name="file"
           type="file">
        Нажмите здесь или перетащите файлы в поле...</div>
      <!--{{category.image}}-->
      <!--{{product}}-->
    </div>
    <!--<button class="btn btn-success b-0 pull-right" ng-click="upload(product.images)" >Добавить товар</button>-->
  </div>

<!--   <div class="form-group">
  <label for="parent" class="col-sm-3 control-label">Parent Category</label>
  <div class="col-sm-9">
    <select chosen="{width: '100%'}" name="parent" class="form-control" id="parent" ng-options="c.$id as c.name for c in categories" ng-model="category.parentId" data-placeholder="Select a parent category...">
        <option></option>
    </select>
  </div>
</div> -->


  <div class="form-footer">
    <button class="btn btn-success b-0 pull-right" ng-click="categoryAdd(category.title, category.color, images)" ng-disabled="form.$invalid">Добавить</button>
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="app.categories.list"><i class="fa fa-arrow-left"></i> Назад</button>
  </div>

</form>
