<div class="page page-categories" ng-controller="CategoriesListCtrl">

  <div class="pageheader">

    <h2>Управление категориями</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.categories.list">Управление категориями</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Управление </strong>Категориями</h1>
          <ul class="controls">

            <li><button class="btn-nostyle" ui-sref="app.categories.new"><i class="fa fa-plus mr-5"></i> Добавить категорию</button></li>

          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">


          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <input type="text" class="form-control underline-input w-md pull-right mb-20" placeholder="Поиск..." ng-model="searchText">
            </div>
          </div>

          <div class="table-responsive">
            <table ng-table="tableParams" class="table table-custom" template-pagination="custom/pager">
              <tr ng-repeat="category in $data">
                <td data-title="'Фото'">
                  <a href="javascript:;" ui-sref="app.categories.show({ id: category.id })"><img style="width: 200px; height: 128px" src="{{category.photo}}"/></a>
                </td>
                <td data-title="'Цвета в галереи'">
                  {{category.color}}
                </td>
                <td data-title="'Название'" sortable="'title'">
                  <a href="javascript:;" ui-sref="app.categories.show({ id: category.id })">{{category.title}}</a>
                </td>
                <td data-title="'Действия'" class="actions">
                  <button class="btn-nostyle edit" ui-sref="app.categories.edit({ id: category.id })"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button class="btn-nostyle delete" ><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
 <!-- ng-click="delete(category.id)" -->
              </tr>
            </table>
            <script type="text/ng-template" id="custom/pager">
              <div class="ng-cloak ng-table-pager mt-20" ng-if="params.data.length">

                <div ng-if="params.settings().counts.length" class="ng-table-counts btn-group pull-right">

                  <select ng-options="count for count in params.settings().counts" ng-model="params.$params.count" class="form-control"></select>

                </div>

                <ul class="pagination pagination-xs pagination-custom">
                  <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages" ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">Предыдущая</a>
                    <a ng-switch-when="first" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="page" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
                    <a ng-switch-when="last" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Следующая</a>
                  </li>
                </ul>
              </div>
            </script>

          </div>


        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>
