<div class="page page-products" ng-controller="ShowCategoryCtrl">

  <div class="pageheader">

    <h2>{{category.title}}</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.categories.list">Управление категориями</a>
        </li>
        <li>
          <a ui-sref="app.categories.show({ id: category.id })">{{category.title}}</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile tile-simple">


        <!-- tile body -->
        <div class="tile-body">


          <!--<ul class="list-unstyled m-20">-->
            <!--<li><strong>ID:</strong> {{category.id}}</li>-->
          <!--</ul>-->

          <ul class="list-unstyled m-20">
            <li><strong>Номер:</strong> {{category.id}}</li>
          </ul>

          <ul class="list-unstyled m-20">
            <li><strong>Название:</strong> {{category.title}}</li>
          </ul>

          <ul class="list-unstyled m-20">
            <li><strong>Фото:</strong> <img style="width: 200px; height: 128px" src="{{category.photo}}"/> </li>
          </ul>

            <ul class="list-unstyled m-20">
              <li><strong>Цвет в галереи:</strong> {{category.color}} </li>
          </ul>

          <div class="form-footer">
            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="app.categories.list"><i class="fa fa-arrow-left"></i> Назад</button>
          </div>

        </div>
        <!-- /tile body -->


      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>
