<div class="page page-products" ng-controller="EditCreamsCtrl">

  <div class="pageheader">

    <h2>Редактирование крема | {{cream}}</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.categories.list">Управление кремами</a>
        </li>
        <li>
          {{cream}}
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile tile-simple">


        <!-- tile body -->
        <div class="tile-body" ng-include="'admin/app/views/pages/creams/_formUpdate.html'">





        </div>
        <!-- /tile body -->


      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>
