<form name="form" class="form-horizontal form-validation" role="form" novalidate>

  <div class="form-group mt-20">
    <label for="name" class="col-sm-3 control-label">Имя</label>
    <div class="col-sm-9">
      <input type="text" name="name" class="form-control" id="name" placeholder="Имя пользователя..." ng-model="user.name">
    </div>
  </div>

  <div class="form-group" ng-show="user.changeEmail">
    <label for="email" class="col-sm-3 control-label">Email <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <input type="email" name="email" class="form-control" id="email" placeholder="Email пользователя..." ng-model="user.email" required>
    </div>
  </div>

  <div class="form-group" ng-show="user.changePass && editing">
    <label for="oldpassword" class="col-sm-3 control-label">Старый пароль <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <input type="password" name="oldpassword" class="form-control" id="oldpassword" placeholder="Старый пароль пользователя..." ng-model="user.oldpassword" ng-required="user.changePass && editing">
    </div>
  </div>

  <div class="form-group" ng-show="user.changePass || user.changeEmail">
    <label for="password" class="col-sm-3 control-label">Новый пароль <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <input type="password" name="password" class="form-control" id="password" placeholder="Новый пароль..." ng-model="user.password" ng-required="user.changePass || user.changeEmail">
    </div>
  </div>

  <div class="form-group" ng-show="user.changePass || user.changeEmail">
    <label for="password" class="col-sm-3 control-label">Подтвержение пароля <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <input type="password" name="passwordConfirm" placeholder="Подтвержение пароля..." class="form-control" ng-model="user.passwordConfirm" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' " ng-required="user.changePass || user.changeEmail">
    </div>
  </div>

  <div class="form-group">
    <label for="role" class="col-sm-3 control-label">Роль <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <select chosen="{width: '100%'}" name="role" class="form-control" id="role" ng-options="v for (k,v) in roles" ng-model="user.role" data-placeholder="Select a role..." required>
        <option></option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="street" class="col-sm-3 control-label">Улица</label>
    <div class="col-sm-9">
      <input type="text" name="street" class="form-control" id="street" placeholder="User address street..." ng-model="user.address.street">
    </div>
  </div>

  <div class="form-group">
    <label for="city" class="col-sm-3 control-label">Город</label>
    <div class="col-sm-9">
      <input type="text" name="city" class="form-control" id="city" placeholder="User address city..." ng-model="user.address.city">
    </div>
  </div>


  <div class="form-group">
    <label for="phone" class="col-sm-3 control-label">Телефон</label>
    <div class="col-sm-9">
      <input type="text" name="phone" class="form-control" id="phone" placeholder="User address phone..." ng-model="user.phone">
    </div>
  </div>

  <div class="form-group mt-40" ng-hide="!editing">
    <div class="col-sm-9 col-md-offset-3">
      <label class="checkbox checkbox-custom-alt inline mr-20">
        <input type="checkbox" ng-click="user.changeEmail = !user.changeEmail" ng-disabled="user.changePass"><i></i>
        Изменить email
      </label>
      <label class="checkbox checkbox-custom-alt inline">
        <input type="checkbox" ng-click="user.changePass = !user.changePass" ng-disabled="user.changeEmail"><i></i>
        Изменить пароль
      </label>
    </div>
  </div>

  <div class="form-footer">
    <button class="btn btn-success b-0 pull-right" ng-click="ok()" ng-disabled="form.$invalid">Изменить</button>
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="app.users.list"><i class="fa fa-arrow-left"></i> Отменить</button>
  </div>

</form>
