<div class="page page-users" ng-controller="UsersListCtrl">

  <div class="pageheader">

    <h2>Управление администраторами</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.users.list">Управление администраторами</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Управление </strong>Администраторами</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">


          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <input type="text" class="form-control underline-input w-md pull-right mb-20" placeholder="Поиск..." ng-model="searchText">
            </div>
          </div>

          <div class="table-responsive">
            <table ng-table="tableParams" class="table table-custom table-striped" template-pagination="custom/pager">
              <tr ng-repeat="user in $data">
                <td data-title="'Имя'" sortable="'name'">
                  {{user.name}}
                </td>
                <td data-title="'Email'" sortable="'email'">
                  <a href="mailto:{{user.email}}">{{user.email}}</a>
                </td>
                <td data-title="'Телефон'" sortable="'phone'">
                  {{user.phone}}
                </td>

                <td data-title="'Администратор'"  style="width:15%" sortable="'role'">
                  <div class="text-left rounded-dropdown" style="width: 100%"  uib-dropdown>


                    <button  type="button" style="padding: 5px 15px; width: 100%" class="btn btn-default btn-sm btn-rounded-20" uib-dropdown-toggle>
                      <span>
                        <span  ng-class="{'text-danger' : user.role == 1, 'text-success' : user.role == 0}">{{roleShow(user.role)}}</span>
                        <i class="fa fa-chevron-down"></i>
                      </span>
                    </button>


                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="single-button">
                      <li ng-repeat="item in userRole"  role="menuitem"><a href="javascript:;" ng-click="changeRole(user.id, item.id)">{{item.role}}</a></li>
                    </ul>

                  </div>
                </td>

              </tr>
            </table>
            <script type="text/ng-template" id="custom/pager">
              <div class="ng-cloak ng-table-pager mt-20" ng-if="params.data.length">
                <ul class="pagination pagination-xs pagination-custom">
                  <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages" ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">Предыдущая</a>
                    <a ng-switch-when="first" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="page" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
                    <a ng-switch-when="last" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Следующая</a>
                  </li>
                </ul>
              </div>
            </script>

          </div>


        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>
