<div class="page page-users" ng-controller="NewUserCtrl">

  <div class="pageheader">

    <h2>Добавить пользователя</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.users.list">Управление пользователями</a>
        </li>
        <li>
          <a ui-sref="app.users.new">Добавить пользователя</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile tile-simple">


        <!-- tile body -->
        <div class="tile-body" ng-include="'views/pages/users/_form.html'">





        </div>
        <!-- /tile body -->


      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>
