body {
    font-family: 'Lato';
    background-image: url(../BG/crisp_paper_ruffles.png);
    background-repeat: repeat;
    overflow:visible !important;
}


html.md-default-theme, html, body.md-default-theme, body {

    background-image: url(../BG/crisp_paper_ruffles.png);
    background-repeat: repeat;
}

.btn:visited{
    background: #8e24aa;
}

.btn:active{
    background: #8e24aa;
}


input[type="number"]{
    border-bottom: 0px;
}





.header-margin{
    margin-top: 100px;
}


.input--nao     input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="search-md"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="text"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 0 !important;
    box-shadow: none !important;

}

.input--nao input[type="date"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="search-md"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="text"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #FFF  !important;
}

.input--nao input[type="date"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="password"], input[type="search-md"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], textarea.materialize-textarea {
    margin: -10px !important;
}

.theme-headers{
    color: #ce93d8;
    text-shadow: 1px 1px 0 #8e24aa;
}

.btn-ok:hover{
    background-color: #00c853!important;
}

.btn-reset{
    margin-left: 0;
}

.btn-reset:hover{
    background-color: #c62828 !important;
}

.waves-effect{
    display: block;
}



.header-text{
    background-color: rgb(156, 39, 176) !important;
    color: #FFF !important;
    font-size: 32px;
    font-family: Lobster;
    text-shadow: 1px 1px 0 #000;
}

.fa-btn {
    margin-right: 6px;
}

.btn-primary{
    background: #8e24aa ;
    font-family: Comfortaa;
    text-transform: lowercase;
}

.md-title, .ng-binding{
    font-family: Comfortaa;
}

input[type=text]{
    border-bottom: 0;
}


#sidebar-menu{
    position: fixed; /* фиксируем наше меню */
    top: 400px; /* положение меню относительно верхнего края браузера */
    left: 0; /* прилипили меню к левому краю */

    /*background: #323A45;*/
    color: #FFF;
    border-radius: 0px 8px 8px 0px;
}
#sidebar-menu li {
    position: relative;
    cursor: pointer;
}
#sidebar-menu li i {
    /* Задаем иконкам фиксированный размер, height и line-height должны быть одинаковыми */
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    text-align: center;
}


#sidebar-menu-cart{
    position: fixed; /* фиксируем наше меню */
    /*top: 400px; !* положение меню относительно верхнего края браузера *!*/
    right: 0; /* прилипили меню к левому краю */

    /*background: #323A45;*/
    color: #FFF;
    border-radius: 8px 0px 0px 8px;
}
#sidebar-menu-cart li {
    position: relative;
    cursor: pointer;
}
#sidebar-menu-cart li i {
    /* Задаем иконкам фиксированный размер, height и line-height должны быть одинаковыми */
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    text-align: center;
}



#sidebar-menu-cart li > ul {
    display: none;
    position: absolute;
    top: -10px;
    left: 42px;
    width: 120px;
    padding: 10px;
    background: #323A45;
    border-radius: 8px;
}

#sidebar-menu-cart li a {
    display: block;
    padding: 4px 8px;
    border-radius: 8px 0px 0px 8px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#section-1{
    background-image:url(../images/carousel/cake_4.jpg);
    height: 450px;
}

#section-2{
    background-image:url(../BG/social_1.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 400px;
}

#section-3{
    background-image:url(../images/carousel/cake_4.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 300px;
}
#section-4{
    background-image:url(../images/carousel/cake_4.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 200px;
}

.input--nao input{
    border: none;
}

.help-block{
    font-size: 16px;
    color: #c62828;
    font-family: Comfortaa;
}

.navbar{
    font-family: Lobster;
}

h1, h2, h4,h5,h6{
    font-family: Lobster;
}

.cake-button{
    margin-left: auto;
    margin-right: auto;
}


nav .panel-group{
    padding: 0;
}

nav .panel{
    border: 0;
    background-color:rgb(156, 39, 176);
}

nav .panel-title>a{
    color: #FFFFFF ;
    font-size: 30px;
}

nav .nav-phone{
    margin-top:10px;
    color: #FFF;
    font-size: 15px;
}


a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover {
    color: rgb(156, 39, 176)!important;
}

.navbar li .active{
    background-color: #4a148c !important;
}

nav i{
    margin-right: 3px;
    color: #9c27b0  ;
}

.list-group-item{
    border: 0;
    background-color: rgb(156, 39, 176);

}

.list-group-item a{
    color : #FFFFFF;
    font-size: 22px;
}

.top-nav-collapse{
    padding: 10px;
}

.cake-theme{
    padding: 50px 0 100px ;
}

.top-nav-collapse {

    background-color: #ba68c8 !important;
}

.navbar-fixed-top {

    background-color: #ce93d8 !important;
}

.items .navbar-fixed-bottom { 
    height: 60px;
    background-color: #ce93d8 !important;
}

.navbar-fixed-bottom a:hover{
    color: #00c853!important ;
}

.items .navbar-collapse{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.items .navbar-collapse ul{
    float:right;
}

.items ul{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.categories-nav{
    float: right;
    margin-top: 10px;
    margin-bottom: 0;
}



.categories-nav :hover{
    background: #00e676!important;
}

.search-nav{
    float: left !important;
}

.search-nav input{
    width: 50% !important;
    height: 2rem;
    margin-top: 7px;
}

label{
    color: #FFF;
    font-size: 20px;
}

.slick-header{
    margin-top:200px;
    color: #ce93d8;
    text-shadow: 1px 1px 0 #8e24aa;
}

.slick-carousel{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.slick-carousel a{
    color: #FFF;
}

.slick-slide h6{
    color: #FFF;
}


.slick-list{
    height: 330px;
}

.slick-item{
    padding-top: 40px;
    padding-left: 80px;
}

.slick-item a{
    text-align: center;
}

.cake-theme{
    color: #FFF;
}

.cake-theme a{
    color: #FFF ;
}


.theme-item-header{
    font-size: 26px;
}

.theme-item-text{
    text-shadow: 3px 3px 2px #FFFFFF;
    font-size: 20px;
}

.theme-item-desc{
    font-size: 14px;
    font-family: Comfortaa;
}
 .top .demo a {
    position: absolute;
    bottom: 50px;
    left: 90%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.top .demo a:hover {
    opacity: .5;
    color: #00e676;
}

 .top #section01 a {
    padding-top: 50px;
}
 .top #section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}


.home-category-image{
    margin-bottom: 8px;
}

.home-category-image img{
    /*width: 220px;
    height: 200px;*/
    width: 100%;
    /*height: 100%;*/
    /*border-radius: 15px 50px;*/
}

.cake-button{
    margin-top: 15px;
}
.cake-button:hover{
    background: #00e676!important;
}

.theme-1{
    margin-top: 20px;
    background:  #ba68c8;
    /*padding: 20px;*/
    padding-bottom: 15px;
    transition: 1s;
}

.top-items-theme{
    margin-top: 20px;
    padding-bottom: 15px;
    transition: 1s;
}

.theme-1:hover, .top-items-theme:hover{
    border-radius: 25px;
    transition: 1s;
}

.social .theme-headers{
    color:#2E2E2E ;
    text-shadow: 1px 2px 0 #212121;

}


#map-container{
    margin-top: 2em;
    margin-bottom: 65px;
}


.home-contact{
    font-family: Comfortaa;
    font-size: 16px;
    display: inline-block;
}


.home-contact li{
    float: left;
}

.home-work-time{
    font-family: Comfortaa;
    font-size: 16px;
    display: inline-block;
    float: right;
}

.home-work-time li{
    float: right;
}

.contacts{
    margin-bottom: 80px;
}

footer .contact-panel {
    height: 400px;
    margin-top:30px;
}

.form{
    background-color: #ce93d8 !important;
}

footer .panel-body{
    margin-top:65px;
    margin-left:auto;
    margin-right:auto;
}

.margin-bottom{
    height: 100px;
}





/***************************************  Categories  *****************************************/

.categories-panel{
    font-family: Lobster;
    color: #8e24aa;
}

.categories-panel:last-child{
    margin-bottom: 100px;
}

.sort {
    margin-top:20px;
    position: absolute;
}

md-menu-item [type="checkbox"]:not(:checked), [type="checkbox"]:checked, [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    left: 0px;
}

_md-open-menu-container{
    left: 140px;
}

.categories-panel .sort p{
    float: left;
    margin-top: 14px;
}

.categories-panel .btn-secondary-outline {
    border: 2px solid #a6c;
    color: #93C;
    background-color: rgba(0,0,0,0.1);
}

.categories-panel .sort a{
    color: #ba68c8!important;
    font-size: 18px;
    font-family: Comfortaa;

    float:left;
}


.categories-button{
    margin-top: 15px;
    text-transform: uppercase;

    margin-left: auto !important;
    margin-right: auto !important;
}
.categories-button:hover{
    background: #00e676!important;
}

.back-button{
    position: fixed;
    top: 50%;
}

.next-button{
    position: fixed;
    margin-left: 93%;
    top:50%;
}

.category-item{
    padding: 0 !important;
}

.category-image{
    margin-bottom: 8px;
}

.category-image img{
    /*width: 220px;
    height: 200px;*/
    width: 100%;
    /*height: 100%;*/
    /*border-radius: 15px 50px;*/
}

.category-name{
    font-family: Comfortaa;
    font-size: 23px;
}

.category-name a{
    color: #FFF ;
    text-shadow: 1px 1px 0 #212121;
}

.categories .panel-default .panel-heading{
    background-color: rgba(156, 39, 176, 0.9);
}

.category-price{
    font-size: 16px;
    color: #FFF;
    font-family: Comfortaa;
}

/***************************************  Notification Icon  *****************************************/

.app-box {
    width: 50px;
    margin-top:35px;
}
.app-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}
.reminder {
    background: #474b59;
    height: 45px;
    margin-bottom: 24px;
    position: relative;
    width: 200px;
}
.notifications {
    border: 5px solid #f9f9f9;
    border-radius: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    left: 90%;
    line-height: 40px;
    margin: -24px 0 0 -24px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
}
.red {
    background: #d9383c;
}
.red-shadow {
    -webkit-box-shadow: 4px 4px 6px rgba(217, 56, 60, 0.75);
    -moz-box-shadow: 4px 4px 6px rgba(217, 56, 60, 0.75);
    box-shadow: 4px 4px 6px rgba(217, 56, 60, 0.75);
}
/***************************************  Order History  *****************************************/

.history{
    margin-bottom: 100px;
}


.history h3{
    font-family: Lobster;
    color: #8e24aa;
}

.history table{
    font-family: Comfortaa;
}

.history .btn a{
    color: #FFF;
}

.history .btn-primary:focus, .btn-primary:hover{
    background-color: #4a148c !important;
}


.history i{
    margin-right: 5px;
}



/***************************************  Reset Password  *****************************************/

.reset .btn{
    margin-left:auto;
    margin-right:auto;
}


/***************************************  Items  *****************************************/

.item-header{
    margin-top:120px;
    color: #8e24aa;
}

.item-panel{
    font-family: Comfortaa;
}

.item-panel h5 a{
    font-family: Lobster;
    float: left;
    color: #8e24aa ;
    padding: 2px;
}

.item-panel h4{
    color: #8e24aa;
    margin-bottom: 40px;
}

.item-panel .btn a{
    color: #fff;
}

.rating{
    margin-top: 8px;
}

.info p:first-child{
    margin-top: 15%;
}

.info button i{
    margin-right: 10px;
}

.comment-header{
    color: #8e24aa;
    padding-bottom: 15px;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #8e24aa;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #8e24aa;
}


/***************************************  Authorization  *****************************************/


.login-panel .panel-body, .reg-panel .panel-body{
    background-color: #ce93d8 !important;
    padding: 0;
}

.login-panel .control-label, .reg-panel .control-panel{
    font-family: Comfortaa;
    font-size: 24px;
    text-shadow: 1px 1px 0 #212121;
}

.remember  p{
    padding-bottom:3px;
    display: inline-block;
    font-family: Comfortaa;
    color: #FFF;
    font-size: 18px;
    margin-top: 30px;
}



/*************************************  Contact Page  **************************************/


.contact-panel{
    font-family: Comfortaa;
    margin-left: auto;
    margin-right: auto;

}

.contact-panel li{
    font-size: 20px;
}

.contact-panel span{
    vertical-align: top;
}



.contact-panel i{
    font-size: 36px;
    margin-right: 25px;
    color: rgb(156, 39, 176);
}


/***************************************  Info Page  *****************************************/

.info-page {
    font-family: Comfortaa;
}

.info-page a{
    font-size: 1.6em;
}



/***************************************  Basket Page  *****************************************/



md-slider.md-default-theme._md-min ._md-thumb::after, md-slider._md-min ._md-thumb::after {
    border-color: #8e24aa !important;
    background-color: #8e24aa !important;
}


md-slider.md-default-theme ._md-thumb:after, md-slider ._md-thumb:after {
    border-color: #8e24aa !important;
    background-color: #8e24aa !important;
}

md-slider.md-default-theme ._md-track._md-track-fill,  md-slider ._md-track._md-track-fill {
    background-color: #8e24aa !important;
}


.basket-form{
    display: inline !important;
}

.empty-panel{
    margin-top:200px;
    margin-bottom:200px;
}

.date-basket{
    font-family: Comfortaa;
    color: #FFF;
    font-weight: bold;
    float: left;
    margin-left:15px;
}

#orderForm {
    margin-bottom: 100px;
}

.table .demo a {
    position: absolute;
    bottom: 75px;
    left: 3%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.table .demo a:hover {
    color: rgb(156, 39, 176);
}

.table  #section01 a {
    padding-top: 50px;
}
.table  #section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}


.basket-form .form-group{
    float: left;
    width: 45%;
    margin-left: 18px;
}

.basket-form .input{
    width:95%;
    float: left;
}

.basket-order i{
    font-size: 0.9rem;
}

.basket-buttons button{
    width: 45% !important;
    /*     margin-left: 0;
        margin-right: 0; */
}


md-icon.md-default-theme, md-icon {
    color: #4a148c;
}

.md-datapicker-input-container .md-datapicker-focused{
    border-bottom-color: #4a148c;
}

.md-datapicker-input-container placeholder{
    color: red;
}

.basket-summary{
    font-family: Comfortaa;
    float: right;
}

.basket-summary #sum{
    font-family: Lobster;
    /*color: #ff1744;*/
    color: #f50057;
    font-size: 26px;
}


/****************************************  CheckBox  *****************************************/

.remember [type="checkbox"]:not(:checked),
.remember [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.remember [type="checkbox"]:not(:checked) + label,
.remember [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}
.remember [type="checkbox"]:not(:checked) + label:before,
.remember [type="checkbox"]:checked + label:before,
.remember [type="checkbox"]:not(:checked) + label:after,
.remember [type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}
.remember [type="checkbox"]:not(:checked) + label:before,
.remember [type="checkbox"]:checked + label:before {
    left:0; top: -3px;
    width: 65px; height: 30px;
    background: #c62828;
    border-radius: 15px;
    transition: background-color .2s;
}
.remember [type="checkbox"]:not(:checked) + label:after,
.remember [type="checkbox"]:checked + label:after {
    width: 20px; height: 20px;
    transition: all .2s;
    border-radius: 50%;
    background: #FFF;
    top: 2px; left: 5px;
}

/* on checked */
.remember [type="checkbox"]:checked + label:before {
    background:#00c853  ;
}
.remember [type="checkbox"]:checked + label:after {
    background: #FFF;
    top: 2px; left: 40px;
}

.remember [type="checkbox"]:checked + label .ui,
.remember [type="checkbox"]:not(:checked) + label .ui:before,
.remember [type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    transition: all .2s;
}
.remember [type="checkbox"]:not(:checked) + label .ui:before {
    content: "no";
    left: 32px
}
.remember [type="checkbox"]:checked + label .ui:after {
    content: "yes";
    color: #FFF;
}
.remember [type="checkbox"]:focus + label:before {
    /*border: 1px dashed #777;*/
    box-sizing: border-box;
    margin-top: -1px;
}


/**********************************  Input   ****************************************/

/* Nao */
.input--nao {
    overflow: hidden;
    padding-top: 1em;
    font-family: Comfortaa;
}

.input__field--nao {
    padding: 0.5em 0em 0.25em;
    width: 100%;
    background: transparent;
    color: #9da8b2;
    font-size: 1.25em;
}

.input__label--nao {
    position: absolute;
    top: -0.05em;
    font-size: 0.85em;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0em;
    pointer-events: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
    transition: transform 0.2s 0.15s, color 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.graphic--nao {
    stroke: #FFF;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
    transition: transform 0.7s, stroke 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
    color: #FFF;
    -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
    transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
    stroke: #FFF;
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0);
}



.input {
    position: relative;
    z-index: 1 ;
    display: inline-block ;
    margin: 1em ;
    /* max-width: 350px ; */
    width: 100% ;
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    padding: 0.8em !important;
    /* width: 60% !important; */
    border: none;
    border-radius: 0;
    /*background: #f0f0f0;*/
    color: #FFF;
    font-weight: 400;
    font-family: Comfortaa;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    /*padding: 0 1em;*/
    width: 100%;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

/* Individual styles */



/*************************************  Animation  **************************************/

.social img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
.social img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}





/*************************************  Accordion  **************************************/


@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}

.heading-primary {
    font-size: 3em;
    margin-top: 120px;
    padding-bottom: 30px;
    text-align: center;
}

.accordion dl,
.accordion-list {
    border: 1px solid #ddd;
}
.accordion dl:after,
.accordion-list:after {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    background-color: #ce93d8 ;
}

.accordion dd,
.accordion__panel {
    background-color: #eee;
    font-size: 1em;
    line-height: 1.5em;
}

.accordion p {
    padding: 1em 2em 1em 2em;
}

.accordion {
    position: relative;
    background-color: #eee;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
    background-color: #ce93d8 ;
    text-align: center;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #fff !important;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid #ce93d8 ;
}
.accordionTitle:before,
.accordion__Heading:before {
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
    background-color: #ce93d8 ;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color: #ce93d8 ;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 50em;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}
@media screen and (min-width: 48em) {
    .accordionItem {
        max-height: 15em;
        -webkit-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: auto;
}

.animateIn {
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}

/* SEARCH */
#wrap {
    margin: 20px 0;
    display: inline-block;
    position: relative;
    height: 100px;
    float: right;
    padding: 0;
    position: relative;
}

#wrap input[type="text"] {
    height: 60px;
    font-size: 45px;
    display: inline-block;
    font-family: "Comfortaa";
    font-weight: 100;
    border: none;
    outline: none;
    color: #ba68c8;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width 1s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

#wrap input[type="text"]:focus:hover {
    border-bottom: 1px solid #000;
}

#wrap input[type="text"]:focus {
    width: 400px;
    z-index: 1;
    border-bottom: 1px solid #000;
    cursor: text;
}
#wrap input[type="submit"] {
    height: 67px;
    width: 63px;
    display: inline-block;
    color:red;
    float: right;
    background: url("../images/search.svg") center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .7s ease;
}

#wrap input[type="submit"]:hover {
    opacity: 0.9;
}

/************************ Comments **************************/

.comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
}

.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}

.photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 7rem;
    color: #8e24aa;
    font-family: Comfortaa;
}


.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block textarea {
    width: 100%;
    resize: none;
}

.comment-text {
    margin-bottom: 1.25rem;
}

.confirm-margin{
    margin-top:20%;
}

.confirm-button{
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

.confirm-name{
    color: #8e24aa;
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-date {
    float: left;
}

.comment-actions {
    float: right;
}
.comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
}
.comment-actions li.complain {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
}
.comment-actions li:hover {
    color: #0095ff;
}


/**************** Side Menu ****************/


@import url("http://weloveiconfonts.com/api/?family=entypo");
*, *:after, *:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[class*="entypo-"]:before, #form #submit, .green, .orange {
    -webkit-font-smoothing: antialiased;
    -moz-macosx-text-rendering: grayscale;
}

.side-menu .wrap a {
    color: #3D9970;
    text-decoration: none;
    margin-bottom: 1em;
}
.side-menu .wrap a:hover {
    color: #FF851B;
}
.side-menu .wrap a i {
    margin-right: 7px;
}

.side-menu .wrap {
    width: 1020px;
    margin-top: 10%;
    /*padding: 2em 0;*/
}

.side-menu .wrap h5 {
    color: rgb(156, 39, 176);
}

.side-menu section {
    background: #fff;
    border: 1px solid #e0e0e0;
    float: left;
    margin-right: 2%;
    padding: 0 1.5% 1em;
    position: fixed;
    z-index: 2;
}

.side-menu #vert-nav ul {
    list-style: none;
    padding: 0;
}
.side-menu #vert-nav .topmenu li.openmenu > a {
    background: #50a37e;
}
.side-menu #vert-nav .topmenu li {
    position: relative;
}

.side-menu #vert-nav .topmenu li a {
    margin: 0;
    font-size: 18px;
    padding: 1em;
    display: block;
    width: 100%;
    /*background: #3D9970;*/
    background: rgb(156, 39, 176);
    font-family: Lobster;
    color: #fff;
    /*border-bottom: 0.1em solid #398e68;*/
}
.side-menu #vert-nav .topmenu li a:hover {
    background: #00c853;
}

/* <input-star></input-star> directive */
.angular-input-stars {

    display: inline-block;
    padding: 0;
    padding-left: -5px;
    list-style: none;

}

.angular-input-stars > li {

    font-size: 17px;

    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;

    cursor: pointer;

}

.angular-input-stars > li .active {

    color: #FDE35E;
    text-shadow: black 0 0 1px, 0 0 1px ;

}
.angular-input-stars .listClass li {
    display: inline-block;
}

.angular-input-stars > li .active.angular-input-stars-hover {
    text-shadow: black 0 0 3px;
}


/******************** Callback ********************/

.callback {
    /*margin-top: 50%;*/
    /*margin-bottom:100px;*/
    float: right;
    position: fixed;
    z-index: 5;
}

.callback ul {
    float: right;
}

.callback li {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}

@-moz-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}

.round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 30% 20% 0 20%;
    color: #fff;
}

.round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.green span {
    background: rgba(0,63,71,.7);
}

a.green {
    background-color: rgba(1,151,171,1);
    color: rgba(0,63,71,1);
    border-color: rgba(0,63,71,.2);
}

a.green:hover {
    color: rgba(1,151,171,1);
}

.side-menu section{
    display: none !important;
}





