<div class="page page-dashboard" >

  <div class="pageheader">

    <h2>Главная панель</h2>


    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">Главная панель</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- cards row -->
  <div class="row">

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-gift fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0" count-to="{{dbData.product}}" value="{{dbData.product}}" duration="0.3"></p>
              <span>
                 <ng-pluralize count="dbData.product"
                when="{
                      'one': 'Торт',
					            'few': 'Торта',
                      'many': 'Тортов',
                      '0': 'Нет тортов'
                       }">
                </ng-pluralize>
                <!--тортов-->
              </span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-6">
              <a href="javascript:;" ui-sref="app.products.list"><i class="fa fa-ellipsis-h fa-2x"></i> Управление товарами</a>
            </div>
            <div class="col-xs-6">
              <a href="javascript:;" ui-sref="app.products.new"><i class="fa fa-plus fa-2x"></i> Добавить товары</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->


    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-shopping-cart fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0" count-to="{{dbData.order}}" value="{{dbData.order}}" duration="0.3"></p>
              <span>
                <ng-pluralize count="dbData.order"
                when="{
                      'one': 'Заказ',
					            'few': 'Заказа',
                      'many': 'Заказов',
                      '0': 'Нет заказов'
                       }">

                </ng-pluralize>
              </span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->
        </div>
        <div class="back bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href="javascript:;" ui-sref="app.orders.list"><i class="fa fa-ellipsis-h fa-2x"></i> Управление заказами</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-slategray">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0" count-to="{{dbData.user}}" value="{{dbData.user}}" duration="0.3"></p>
              <span>
                <ng-pluralize count="dbData.user"
                when="{
                      'one': 'Пользователь',
					            'few': 'Пользователя',
                      'many': 'Пользователей',
                      '0': 'Нет пользователей'
                       }">
                </ng-pluralize>
              </span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-slategray">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href="javascript:;" ui-sref="app.users.list"><i class="fa fa-ellipsis-h fa-2x"></i> Управление администраторами</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-usd fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0" count-to="{{dbData.totalSum[0].total_qty}}" value="{{dbData.totalSum[0].total_qty}}" duration="0.3"></p>
              <span>Общая выручка грн.</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href="javascript:;" ui-sref="app.orders.list"><i class="fa fa-ellipsis-h fa-2x"></i> Просмотреть заказы</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

  </div>
  <!-- /row -->

  <div class="row">

    <!--<div class="col-md-8">-->
      <!--&lt;!&ndash; tile &ndash;&gt;-->
      <!--<section class="tile tile-simple tile-chart" ng-controller="OrdersChartCtrl">-->

        <!--&lt;!&ndash; tile header &ndash;&gt;-->
        <!--<div class="tile-header">-->

          <!--<h4>Информация о заказах</h4>-->

          <!--<div class="controls">-->
            <!--<div uib-dropdown>-->
              <!--<button type="button" class="btn btn-default btn-rounded-20" uib-dropdown-toggle>-->
                <!--<span ng-show="range === '7d'">7 Дней</span>-->
                <!--<span ng-show="range === '31d'">31 День</span>-->
                <!--<i class="fa fa-chevron-down"></i>-->
              <!--</button>-->
              <!--<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">-->
                <!--<li role="menuitem"><a href="javascript:;" ng-click="range = '7d'">7 Дней</a></li>-->
                <!--<li role="menuitem"><a href="javascript:;" ng-click="range = '31d'">31 День</a></li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash; /tile header &ndash;&gt;-->

        <!--&lt;!&ndash; tile body &ndash;&gt;-->
        <!--<div class="tile-body">-->

          <!--<div class="row">-->

            <!--<div class="col-md-12">-->
              <!--<div class="chart-container">-->
                <!--<canvas barchart data="chart" options="options" responsive="true" maintain-aspect-ratio="true" height="350"></canvas>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash; /tile body &ndash;&gt;-->

      <!--</section>-->
      <!--&lt;!&ndash; /tile &ndash;&gt;-->
    <!--</div>-->

    <div class="col-md-4">
      <!-- tile -->
      <section class="tile tile-simple tile-chart" ng-controller="ProductsChartCtrl">

        <!-- tile header -->
        <div class="tile-header">

          <h4>Продуктов в категориях</h4>

        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">

          <div class="row">

            <div class="col-md-12">
              <div class="chart-container">
                <canvas piechart data="chart" options="options" height="350"></canvas>
              </div>
            </div>

          </div>

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->
    </div>

    <div class="col-md-8">
      <!-- tile -->
      <section class="tile tile-simple tile-chart" ng-controller="LastCommentsCtrl">

        <!-- tile header -->
        <div class="tile-header">

          <h4>Комментарии, ожидающие модерации</h4>

        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="comment-wrap" ng-repeat="lastComment in lastComments">
          <div class="photo">
            {{lastComment.usrName}}
          </div>
          <div class="comment-block">
            <p class="comment-text">{{lastComment.comment}}</p>
            <div class="bottom-comment">
              <div class="comment-date">{{lastComment.created_at}}</div>
            </div>
          </div>
          <div class="comment-action">
            <section class="content">
              <ul class="list">
                <li class="list__item">
                  <label class="label--checkbox">
                    <input type="checkbox" class="checkbox" ng-click="changeStatus(lastComment.id, 1)">
                    Опубликовать
                  </label>
                </li>

                <li class="list__item">
                  <label class="label--checkbox">
                    <input type="checkbox" class="checkbox" ng-click="changeStatus(lastComment.id, 2)">
                    Отклонить
                  </label>
                </li>
              </ul>
            </section>
          </div>
        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->
    </div>

  </div>

</div>
