<div class="page page-orders" ng-controller="CommentsListCtrl">

  <div class="pageheader">

    <h2>Управление комментариями</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.comments.list">Управление комментариями</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Управление </strong> комментариями</h1>
        </div>
        <!-- /tile header -->



        <!-- tile body -->
        <div class="tile-body">

          <div class="row">
            <div class="col-md-6">

              <form  class="bidi center-block" ng-cloak>

                <p>Статус заказа: <span class="radioValue">{{searchText}}</span> </p>

                <md-radio-group ng-model="searchText" >

                  <md-radio-button  ng-repeat="status in statuses" value="{{status.status}}" md-colors="{background: 'purple'}">

                    <md-button class="md-raised">
                    <span ng-class="{'text-success' : status.status == 'Опубликовано',
                    'text-warning' : status.status == 'Отклонено',
                    'text-orange' : status.status == 'Ожидаент публикации'}">{{status.status}}</span>
                    </md-button>

                  </md-radio-button>

                </md-radio-group>
              </form>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control underline-input w-md pull-right mb-20" placeholder="Поиск..." ng-model="searchText">
            </div>
          </div>

          <div class="table-responsive">
            <table ng-table="tableParams" class="table table-custom" template-pagination="custom/pager">
              <tr ng-repeat="comment in $data">
                <td data-title="'Номер'" sortable="'id'">
                  <a ui-sref="app.comments.show({id: comment.id})">{{comment.id}}</a>
                </td>
                <td data-title="'Пользователь'" sortable="'id_user'">
                  {{comment.id_user}}
                </td>
                <td data-title="'Товар'" sortable="'id_product'">
                  {{comment.id_product}}
                </td>
                <td data-title="'Комментарий'">
                  {{comment.comment}}
                </td>
                <td data-title="'Действия'" class="actions" sortable="'status'">
                  <div class="text-left rounded-dropdown" style="width:100%" uib-dropdown>
                    <button type="button" style="padding: 5px 15px; width:100%" class="btn btn-default btn-sm btn-rounded-20" uib-dropdown-toggle>
                      <span>
                        <span ng-class="{'text-success' : comment.status == 'Опубликовано',
                        'text-warning' : comment.status == 'Отклонено',
                        'text-orange' : comment.status == 'Ожидаент публикации',
                                        }">{{comment.status}}</span>
                        <i class="fa fa-chevron-down"></i>
                      </span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="single-button">
                      <li ng-repeat="status in statuses"  role="menuitem"><a href="javascript:;" ng-click="changeStatus(comment.id, status.id)">{{status.status}}     </a></li>
                    </ul>

                  </div>
                </td>
                <td class="action-buttons">
                  <button class="btn-nostyle edit" ui-sref="app.comments.edit({ id: comment.id })"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button class="btn-nostyle delete delelte-button" ng-disabled="comment.status == 'Опубликовано'" ng-click="delete(comment.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>

              </tr>
            </table>
            <script type="text/ng-template" id="custom/pager">
              <div class="ng-cloak ng-table-pager mt-20" ng-if="params.data.length">

                <div ng-if="params.settings().counts.length" class="ng-table-counts btn-group pull-right">

                  <select ng-options="count for count in params.settings().counts" ng-model="params.$params.count" class="form-control"></select>

                </div>

                <ul class="pagination pagination-xs pagination-custom">
                  <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages" ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">Предыдущая</a>
                    <a ng-switch-when="first" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="page" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
                    <a ng-switch-when="last" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Следующая</a>
                  </li>
                </ul>
              </div>
            </script>

          </div>


        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>
