<form name="form" class="form-horizontal form-validation" role="form" novalidate>

  <div class="form-group mt-20">
    <label for="name" class="col-sm-3 control-label">Название блока <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <input type="text" name="name" class="form-control" id="name" ng-model="info.title" required>
    </div>
  </div>

    <div class="form-group mt-20">
    <label for="name" class="col-sm-3 control-label">Текст блока <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <textarea type="text" name="name" class="form-control" id="name" ng-model="info.info" required></textarea>
    </div>
  </div>

  <div class="form-footer">
    <button class="btn btn-success b-0 pull-right" ng-click="infoUpdate(info.id, info.title, info.info)" ng-disabled="form.$invalid">Изменить</button>
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="app.creams.list"><i class="fa fa-arrow-left"></i> Назад</button>
  </div>

</form>
