<div class="page page-products" ng-controller="EditProductCtrl">

  <div class="pageheader">

    <h2>Редактирование товара | {{product.title}}</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.products.list">Управление товарами</a>
        </li>
        <li>
          <a ui-sref="app.products.edit({ id: product.$id })">{{product.title}}</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile tile-simple">


        <!-- tile body -->
        <div class="tile-body" ng-include="'admin/app/views/pages/products/_form.html'">





        </div>
        <!-- /tile body -->


      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>
