<div class="page page-products" ng-controller="ShowProductCtrl">

  <div class="pageheader">

    <h2>{{product.title}}</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.products.list">Управление товарами</a>
        </li>
        <li>
          <a ui-sref="app.products.show({ id: product.id })">{{product.title}}</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile tile-simple">


        <!-- tile body -->
        <div class="tile-body">


          <!-- row -->
          <div class="row">

            <!-- col -->
            <div class="col-md-4" gallery="{selector: 'a.img-link'}">

              <a href="{{product.images[0].src}}" class="img-link" ng-show="product.photo.length > 0">
                <img ng-src="{{product.photo}}" alt="{{product.title}}" class="img-responsive mb-20">
              </a>

              <a href="javascript:;" ng-show="product.photo === 0 || !product.photo">
                <img src="images/no-product-image.png" alt="product.name" class="img-responsive mb-20">
              </a>

              <!--&lt;!&ndash; thumbnails &ndash;&gt;-->
              <!--<slick-->
                <!--dots="true"-->
                <!--infinite="false"-->
                <!--speed="300"-->
                <!--slides-to-show="4"-->
                <!--touch-move="false"-->
                <!--slides-to-scroll="1"-->
                <!--arrows="false"-->
                <!--init-onload="true"-->
                <!--data="product.images">-->
                <!--<div ng-repeat="image in product.images" ng-if="!$first" href="{{product.images[$index].src}}">-->
                  <!--<a href="{{product.images[$index].src}}" class="img-link">-->
                    <!--<img ng-src="{{product.images[$index].src}}" alt="product.title" class="img-responsive">-->
                  <!--</a>-->
                <!--</div>-->
              <!--</slick>-->
              <!--&lt;!&ndash; /thumbnails &ndash;&gt;-->

            </div>
            <!-- /col -->

            <!-- col -->
            <div class="col-md-8">

              <h2 class="custom-font mb-5">
                {{product.title}}
                <!--<span class="label" ng-class="{'bg-success' : product.status == 'published','bg-warning' : product.status == 'not published','bg-lightred' : product.status == 'banned'}">-->
                  <!--{{ product.status }}-->
                <!--</span>-->
              </h2>

              <p class="desc text-default lt mb-50">{{product.description}}</p>

              <h4><strong>Категория:</strong> {{product.cat}}</h4>

              <h3 class="price mt-40 mb-0 text-success">{{ product.price }} грн. / <small>шт.</small></h3>
            </div>
            <!-- /col -->

          </div>
          <!-- /row -->

          <div class="form-footer">
            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="app.products.list"><i class="fa fa-arrow-left"></i> Назад</button>
          </div>

        </div>
        <!-- /tile body -->


      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>
