<form name="form" class="form-horizontal form-validation" role="form" novalidate>

  <div class="form-group mt-20">
    <label for="id" class="col-sm-3 control-label">ID</label>
    <div class="col-sm-9">
      <input type="text" name="id" class="form-control" id="id" placeholder="ID товара..." ng-model="product.id" required disabled>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Название <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <input type="text" name="name" class="form-control" id="name" ng-model="product.title" required>
    </div>
  </div>

  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">Описание <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <textarea name="description" id="description" ng-model="product.description" class="form-control" placeholder="Описание товара..." rows="5" required></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="category" class="col-sm-3 control-label">Категория <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <select name="category" class="form-control" id="category" ng-model="product.catId" required>
        <option ng-repeat="category in categories" value="{{category.id}}">{{category.title}}</option>
      </select>

    </div>
  </div>

  <div class="form-group">
    <label for="price" class="col-sm-3 control-label">Цена <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon">UAH.</div>
        <input type="number" class="form-control" name="price" id="price" ng-model="product.price" min="0" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="unit" class="col-sm-3 control-label"> Вес <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon">кг</div>
        <input type="number" class="form-control" name="weight" id="weight" ng-model="product.weight" min="0" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="category" class="col-sm-3 control-label">Крем <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <select name="cream" class="form-control" id="cream" ng-model="product.crId" required>
        <option ng-repeat="cream in creams" value="{{cream.id}}">{{cream.cream}}</option>
      </select>

    </div>
  </div>

  <div class="form-group">
    <label for="category" class="col-sm-3 control-label">Корж <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <select name="shortcake" class="form-control" id="shortcake" ng-model="product.cakeID" required>
        <option ng-repeat="cake in cakes" value="{{cake.id}}">{{cake.shortcake}}</option>
      </select>

    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3">Изображения</label>
    <div class="col-sm-9">

      <ul class="list-unstyled list-inline thumbs-list">
        <li ng-repeat="image in images">
          <img ngf-thumbnail="image" alt="" style="width: 120px; height: 120px">
          <img ngf-thumbnail="image.src" alt="" style="width: 120px; height: 120px">
          <button class="btn-nostyle" ng-click="image = null" ng-show="image && !editing">x</button>
          <uib-progressbar class="progress-xxs mt-10" value="image.progress" type="cyan" ng-show="image.progress >= 0"></uib-progressbar>
        </li>
      </ul>

      <p class="help-block text-danger" ng-show="editing">Добавление новых изображений перезапишет старые!</p>

      <div ngf-drop
           ngf-select
           ngf-drag-over-class="dragover"
           ngf-multiple="true"
           accept="image/*"
           ng-model="images"
           class="fileupload drop-box"
           name="file"
           type="file">
        Нажмите здесь или перетащите файлы в поле...</div>
      {{images}}
      <!--{{product}}-->
    </div>
    <!--<button class="btn btn-success b-0 pull-right" ng-click="upload(product.images)" >Добавить товар</button>-->
  </div>

  <div class="form-footer">
    <button class="btn btn-success b-0 pull-right" ng-click="productAdd(product, images)" >Добавить товар</button>
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="app.products.list"><i class="fa fa-arrow-left"></i> Отмена</button>
  </div>

</form>
