<div class="page page-orders" ng-controller="OrdersListCtrl">

  <div class="pageheader">

    <h2>Управление заказами</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.orders.list">Управление заказами</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Управление </strong> заказами</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">


          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <input type="text" class="form-control underline-input w-md pull-right mb-20" placeholder="Поиск..." ng-model="searchText">
            </div>
          </div>

          <div class="table-responsive">
            <table ng-table="tableParams" class="table table-custom" template-pagination="custom/pager">
              <tr ng-repeat="order in $data">
                <td data-title="'Номер'" sortable="'id'">
                  <a ui-sref="app.orders.show({id: order.id})">{{order.id}}</a>
                </td>
                <td data-title="'Заказано на'" sortable="'expected_date'">
                  {{order.expected_date | date: 'yyyy-MM-dd'}}
                </td>
                <td data-title="'Заказчик'" sortable="'userName'">
                  {{order.userName}}
                </td>
                <td data-title="'Адрес доставки'" sortable="'shipping_address'">
                  {{order.shipping_address}}
                </td>
                <td data-title="'Cумма заказа'" sortable="'subTotal'">
                  {{order.prPrice * order.count}}
                </td>
                <td data-title="'Способо оплаты'" sortable="'mtd'">
                  {{order.mtd}}
                </td>
                <td data-title="'Действия'" class="actions" sortable="'stType'">
                  <div class="text-left rounded-dropdown" style="width:100%" uib-dropdown>
                    <button type="button" style="padding: 5px 15px; width:100%" class="btn btn-default btn-sm btn-rounded-20" uib-dropdown-toggle>
                      <span>
                        <span ng-class="{'text-success' : order.stType == 'Исполнено',
                        'text-warning' : order.stType == 'Не просмотрен',
                        'text-lightred' : order.stType == 'Не подтверждён',
                        'text-info' : order.stType == 'В обработке',
                        'text-orange' : order.stType == 'Ожидает отправки'}">{{order.stType}}</span>
                        <i class="fa fa-chevron-down"></i>
                      </span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="single-button">
                      <li ng-repeat="status in statuses"  role="menuitem"><a href="javascript:;" ng-click="changeStatus(order.id, status.id)">{{status.status_type}}</a></li>
                    </ul>

                  </div>
                </td>
                <td>
                  <button class="btn-nostyle delete delelte-button" ng-disabled="order.stType == 'Исполнено'" ng-click="delete(order.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>

              </tr>
            </table>
            <script type="text/ng-template" id="custom/pager">
              <div class="ng-cloak ng-table-pager mt-20" ng-if="params.data.length">

                <div ng-if="params.settings().counts.length" class="ng-table-counts btn-group pull-right">

                  <select ng-options="count for count in params.settings().counts" ng-model="params.$params.count" class="form-control"></select>

                </div>

                <ul class="pagination pagination-xs pagination-custom">
                  <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages" ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">Предыдущая</a>
                    <a ng-switch-when="first" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="page" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
                    <a ng-switch-when="last" ng-click="params.page(page.number)" href="">
                      <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Следующая</a>
                  </li>
                </ul>
              </div>
            </script>

          </div>


        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>
