<form name="form" class="form-horizontal form-validation" role="form" novalidate>

  <div class="form-group mt-20">
    <label for="name" class="col-sm-3 control-label">Название <span class="text-danger" style="font-size: 15px;">*</span></label>
    <div class="col-sm-9">
      <input type="text" name="name" class="form-control" id="name" placeholder="Название коржа..." ng-model="shortcakes.title" required>
    </div>
  </div>


  <div class="form-footer">
    <button class="btn btn-success b-0 pull-right" ng-click="shortcakesAdd(shortcakes.title)" ng-disabled="form.$invalid">Добавить</button>
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="app.shortcakes.list"><i class="fa fa-arrow-left"></i> Назад</button>
  </div>

</form>
