<div class="page page-products" ng-controller="EditCommentCtrl">

  <div class="pageheader">

    <h2>Редактирование комментария №: | {{comment.id}}</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.comments.list">Управление комментариями</a>
        </li>
        <li>
          <a ui-sref="app.comments.edit({ id: comment.$id })">{{comment.id}}</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile tile-simple">


        <!-- tile body -->
        <div class="tile-body" ng-include="'views/pages/comments/_formUpdate.html'">





        </div>
        <!-- /tile body -->


      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>
