<div class="page page-orders" ng-controller="ShowCommentCtrl">

  <div class="pageheader">

    <h2>Детали комментария {{comment.id}}</h2>
    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.comments.list">Управление заказами</a>
        </li>
        <li>
          <a ui-sref="app.comments.show({ id: comment.id })"> Комментарий номер: {{comment.id}}</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile tile-simple">


        <!-- tile body -->
        <div class="tile-body">


          <!--<ul class="list-unstyled m-20">-->
          <!--<li><strong>ID:</strong> {{category.id}}</li>-->
          <!--</ul>-->

          <ul class="list-unstyled m-20">
            <li><strong>Номер:</strong> {{comment.id}}</li>
          </ul>

          <ul class="list-unstyled m-20">
            <li><strong>Статус:</strong> {{comment.stType}}</li>
          </ul>

          <ul class="list-unstyled m-20">
            <li><strong>Комментарий:</strong> {{comment.comment}}</li>
          </ul>

          <ul class="list-unstyled m-20">
            <li><strong>Создан:</strong> {{comment.created_at}}</li>
          </ul>

          <ul class="list-unstyled m-20">
            <li><strong>Название товара:</strong> {{comment.prTitle}}</li>
          </ul>

          <ul class="list-unstyled m-20">
            <li><strong>Фото:</strong> <img style="width: 200px; height: 128px" src="{{comment.prPhoto}}"/> </li>
          </ul>

          <ul class="list-unstyled m-20">
            <li><strong>Пользователь:</strong> {{comment.userName}} </li>
          </ul>

          <ul class="list-unstyled m-20">
            <li><strong>Email пользователя:</strong> {{comment.userEmail}} </li>
          </ul>

          <div class="form-footer">
            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="app.categories.list"><i class="fa fa-arrow-left"></i> Назад</button>
          </div>

        </div>
        <!-- /tile body -->


      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->



  <!--&lt;!&ndash; row &ndash;&gt;-->
  <!--<div class="row">-->
    <!--<div class="col-md-3">-->
      <!--<button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="app.orders.list"><i-->
              <!--class="fa fa-arrow-left"></i> Назад</button>-->
    <!--</div>-->
    <!--&lt;!&ndash; col &ndash;&gt;-->
    <!--<div class="col-md-3 col-md-offset-9 ">-->

      <!--&lt;!&ndash; tile &ndash;&gt;-->
      <!--<section class="tile tile-simple bg-tr-black lter">-->

        <!--&lt;!&ndash; tile body &ndash;&gt;-->
        <!--<div class="tile-body">-->

          <!--<ul class="list-unstyled">-->
            <!--<li><strong class="inline-block w-sm">Всего:</strong> <h3 class="inline-block text-success"> {{Summary}} грн. </h3></li>-->
          <!--</ul>-->

        <!--</div>-->
        <!--&lt;!&ndash; /tile body &ndash;&gt;-->

      <!--</section>-->
      <!--&lt;!&ndash; /tile &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; /col &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; /row &ndash;&gt;-->

</div>
