<section ng-include="'admin/app/views/partials/header.html'" id="header"></section>

<div id="controls">

  <aside ng-include="'admin/app/views/partials/nav.html'" id="sidebar" ng-class="{'aside-fixed':main.settings.asideFixed}"></aside>


</div>

<div class="view-container" ui-view-container>

  <section ui-view id="content" autoscroll="false"></section>

</div>
