<div class="page page-orders" ng-controller="ShowOrderCtrl">

  <div class="pageheader">

    <h2>Детали заказа на {{order.expected_date | date: 'dd MMMM yyyy'}}</h2>
    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.orders.list">Управление заказами</a>
        </li>
        <li>
          <a ui-sref="app.orders.show({ id: order.id })"> Заказ номер: {{order.id}}</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-md-12">


      <!-- tile -->
      <section class="tile time-simple">


        <!-- tile body -->
        <div class="tile-body">


          <!-- row -->
          <div class="row">

            <!-- col -->
            <div class="col-md-9">
              <p class="text-default lt">Был оформлен: {{ order.created_at | date: 'dd MMMM' }} в {{ order.created_at | date: 'HH:mm' }}</p>
              <p class="text-uppercase text-strong mt-40 mb-0 custom-font">Статус</p>
              <h3 class="text-uppercase mt-0 mb-20" ng-class="{'text-success' : order.stType == 'Исполнено',
              'text-warning' : order.stType == 'Не просмотрен',
              'text-lightred' : order.stType == 'Не подтверждён',
              'text-info' : order.stType == 'В обработке',
              'text-orange' : order.stType == 'Ожидает отправки'}"> {{order.stType}} {{uppercase}}</h3>
            </div>
            <!-- /col -->

            <!-- col -->
            <div class="col-md-3">
              <p class="text-uppercase text-strong mb-10 custom-font">Заказчик</p>
              <ul class="list-unstyled text-default lt mb-20">
                <li><strong class="inline-block w-xs">Имя:</strong> {{order.userName}}</li>
                <li><strong class="inline-block w-xs">Телефон:</strong> {{order.userPhone}}</li>
                <li><strong class="inline-block w-xs">Доп. телефон:</strong> {{order.shipping_additional_phone}}</li>
                <li><strong class="inline-block w-xs">Email:</strong>  {{order.userEmail}}</li>
              </ul>
            </div>
            <!-- /col -->

          </div>
          <!-- /row -->

          <!-- row -->
          <div class="row b-t pt-20">

            <!-- col -->
            <div class="col-md-3 b-r">
              <p class="text-uppercase text-strong mb-10 custom-font">Детали заказа</p>
              <ul class="list-unstyled text-default lt mb-20">
                <li><strong>Номер заказа: </strong>{{order.id}}</li>
                <li<strong>Заказан на: </strong>{{ order.expected_date | date: 'dd MMMM yyyy' }} в {{ order.created_at | date: 'HH:mm' }}</li>
                <li>{{order.customer.name}}</li>
                <li>{{order.customer.country}}</li>
              </ul>
            </div>
            <!-- /col -->

            <!-- col -->
            <div class="col-md-6 b-r">

              <p class="text-uppercase text-strong mb-10 custom-font">Адрес
              </p>

              <!-- col -->
              <div class="col-md-6">
                <ul class="list-unstyled text-default lt mb-20">

                  <li><strong class="inline-block w-xs">Улица:</strong>{{order.shipping_address}}</li>
                  <li><strong class="inline-block w-xs">Дом:</strong>{{order.shipping_address_house_number}}</li>
                  <li ng-show="order.shipping_address_room_number"><strong class="inline-block w-xs">Квартира:</strong>{{order.shipping_address_room_number}}</li>
                </ul>
              </div>
              <!-- /col -->

              <!-- col -->
              <div class="col-md-6">
                <ul class="list-unstyled text-default lt mb-20">
                  <li>{{order.customer.email}}</li>
                  <li>{{order.customer.phone}}</li>
                </ul>
              </div>
              <!-- /col -->

            </div>
            <!-- /col -->

            <!-- col -->
            <div class="col-md-3">
              <p class="text-uppercase text-strong mb-10 custom-font">Способ оплаты</p>
              <ul class="list-unstyled text-default lt mb-20">
                <li><strong>Способ:</strong> {{order.mtd}}</li>
              </ul>
            </div>
            <!-- /col -->

          </div>
          <!-- /row -->

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->


      <!-- tile -->
      <section class="tile tile-simple">

        <!-- tile body -->
        <div class="tile-body p-0">

          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Изображение товара</th>
                <th>Название</th>
                <th>Цена за шт.</th>
                <th>Количество</th>
                <th>Сумма</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="orderItem in orderItems">
                <td style="vertical-align: middle;">
                  <img ng-src="{{orderItem.prPhoto}}" alt="{{orderItem.prTitle}}" style="width: 200px; height: 128px"/>
                </td>
                <td style="vertical-align: middle;">
                  <a ui-sref="app.products.show({id: k})">{{orderItem.prTitle}}</a><br>
                  <!-- <span class="text-sm text-muted">{{productsObject[k].shortDescription | limitTo: 80}}...</span> -->
                </td>
                <!-- <td style="vertical-align: middle;">
                  {{categoriesObject[productsObject[k].categoryId].name}}
                </td> -->
                <td style="vertical-align: middle;">
                  {{orderItem.prPrice}} грн.
                </td>
                <td style="vertical-align: middle;">
                  {{orderItem.orCount}}
                </td>
                <td style="vertical-align: middle;">
                  {{(orderItem.prPrice) * orderItem.orCount}} грн.
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->


    </div>
    <!-- /col -->
  </div>
  <!-- /row -->



  <!-- row -->
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="app.orders.list"><i
              class="fa fa-arrow-left"></i> Назад</button>
    </div>
    <!-- col -->
    <div class="col-md-3 col-md-offset-9 ">

      <!-- tile -->
      <section class="tile tile-simple bg-tr-black lter">

        <!-- tile body -->
        <div class="tile-body">

          <ul class="list-unstyled">
            <li><strong class="inline-block w-sm">Всего:</strong> <h3 class="inline-block text-success"> {{Summary}} грн. </h3></li>
          </ul>

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->
  </div>
  <!-- /row -->

</div>
